<br/>

<mat-card class="discount-card">
    <mat-card-header>
      <mat-card-title>Discount Eligibility</mat-card-title>
    </mat-card-header>
    <br/>
    <mat-card-content align="left">
      <mat-form-field>
        <mat-select [(ngModel)]="superStudentDiscountCreate.state" placeholder="State">
          <mat-option *ngFor="let state of states" [value]="state">
              {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br/>
      <mat-form-field>
          <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.driverage" placeholder="Eligible Driver Age">
      </mat-form-field> 
      <br/>
      <mat-form-field>
        <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.drivereligiblegpa" placeholder="Eligible GPA">
      </mat-form-field>      
    </mat-card-content>
    
</mat-card>
<br/>
<mat-card class="discount-card">
  <mat-card-header>
    <mat-card-title>Discount Tiers</mat-card-title>
  </mat-card-header>
  <mat-card-content align="left">
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.drivermediumgpa" placeholder="Medium Driver GPA">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.discountmediumamount" placeholder="Medium Discount Amount">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.driverhighgpa" placeholder="High Driver GPA">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="superStudentDiscountCreate.discounthighamount" placeholder="High Discount Amount">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="left">
    <button mat-raised-button color="accent"  (click)="updateSuperStudentDiscount()">Update Discount</button>
  </mat-card-actions>
</mat-card>

