<br/>
<mat-card class="test-card">
    <mat-card-header>
      <mat-card-title>Test Discount</mat-card-title>
    </mat-card-header>
    <br/>
    <mat-card-content align="left">
      <mat-form-field>
        <mat-select id="state" [(ngModel)]="testdriver.state" placeholder="State">
          <mat-option *ngFor="let state of states" [value]="state">
              {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br/>
      <mat-form-field>
          <input type="number" id="driverage" matInput [(ngModel)]="testdriver.driverAge" placeholder="Age">
      </mat-form-field> 
      <br/>
      <mat-form-field>
        <input type="number" id="drivergpa" matInput [(ngModel)]="testdriver.driverGPA" placeholder="GPA">
      </mat-form-field> 
      <br/>
      <mat-form-field>
        <mat-select id="studentstatus" [(ngModel)]="testdriver.studentstatus" placeholder="High School Status">
          <mat-option *ngFor="let status of studentstatuses" [value]="status">
              {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br/>
      <mat-form-field>
        <mat-select id="maritalstatus" [(ngModel)]="testdriver.maritalstatus" placeholder="Marital Status">
          <mat-option *ngFor="let mStatus of maritalStatuses" [value]="mStatus">
              {{mStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br/>
      <mat-form-field>
        <mat-select id="relationship" [(ngModel)]="testdriver.relationship" placeholder="Relationship">
          <mat-option *ngFor="let relationship of relationships" [value]="relationship">
              {{relationship}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <br/>
      <mat-checkbox id="hasviolation" matInput [(ngModel)]="hasViolation">Has Violation</mat-checkbox>
      
      
    </mat-card-content>
    <mat-card-actions align="left">
      <button id="testdiscount" mat-raised-button  (click)="testDiscount()">Test Discount</button>
    </mat-card-actions>
</mat-card>
<br/>
<mat-card class="test-card" *ngIf="(discountResult$ | async ) as discountResult">
  <mat-card-header>
    <mat-card-title>Results</mat-card-title>
  </mat-card-header>
  <mat-card-content id="discountamount" align="left">
    Discount Granted: {{discountResult.discountGranted}}
    <br/>
    Discount Amount: {{discountResult.discountAmount}}
  </mat-card-content>
</mat-card>
